name: Unit Test

on: 
  push:
    branches:
      - master
      - releases/**
  pull_request:
    branches:
      - master
      - releases/**

jobs:
  test:
    name: Unit Testing
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 12

    - name: Install dependencies
      run: npm ci

    - name: Test
      run: npm run test

    - name: Uploade coverage
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }} 
        file: ./coverage/lcov.info
